body {
    margin: 0;
    padding: 0;
    background-image: url(../img/wolves-1341881_960_720.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

h1 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 24px;

}

.box {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 500px;
    transform: translate(-50px, -50px);

}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
    color: white
}

input[type="text"] {

    background: linear-gradient(90deg, #7723a9, #a935a9);
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;

}

input[type="submit"] {
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(90deg, #f3bf21, #f2ff42);



}